
// Fonts
$roboto: 'Roboto', sans-serif;

// Colors
$white: #FFFFFF;
$grey: #C5C3C6;
$black: #191414;
$blue: #4C5C68;
$green: #1DB954;

html, body {
  margin: 0;
  height: 100%;
  background-color: $black;
}

.container {
  background-color: $black;
}

#main-card {
  margin-top: 2%;
  background-color: $grey;
  .img-container {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;
    img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
    }
  }
  .card-body {
    h5 {
      color: $green;
    }
    .card-text {
      color: $black;
      .text-muted {
        color: $blue !important;
      }
    }
  }
}

#main-nav {
  background-color: $grey !important;
  .nav-item {
      a {
        text-transform: uppercase;
        color: $blue !important;
      }
    .navbar-brand {
      margin-left: 10px !important;
      margin-right: 10px !important;

    }
  }
}

#playlist {
  margin-top: 5%;
  margin-bottom: 8%;
  #headers {
    background-color: $black;
    color: $white;
    h5{
      font-style: $roboto;
      font-weight: 100;
      text-transform: uppercase;
      font-kerning: auto;
    }
  }
  .active {
    background-color: $blue !important;
  }
  .song {
    border-color: rgba(255, 255, 255, 0.15);
    background-color: $black;
    color: $white;
    .d-flex {
      font-style: $roboto;
      font-weight: 200;
      div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .badge {
          background-color: $blue;
        }
      }
    }
  }
}

#mvp-container {
  margin-top: 17% !important;
  .card {
    background-color: $black;
    color: $white;
    .col-5 {
      img {
        width: 100%;
        border: 2px solid $grey;
      }
    }
    .header {
      color: $white;
    }
    .card-body {
      text-align: center;
      .btn {
        width: 25%;
      }
    }
    .list-group {
      .list-group-item { text-align: center;
        background-color: $black;
        border-color: rgba(255, 255, 255, 0.15);
      }
    }
  }
}

#player-bg {
  background-color: $black !important;
  #player {
    width: 100%;
  }
}

#login {
  // margin: auto;
  margin-top: 30%;
  width: 100%;
  padding: 10px;
  .col-lg-12 {
    h1 {
      font-family: $roboto;
      font-weight: 400;
      font-size: 10em;
      text-transform: uppercase;
      color: $white;
    }
    .btn {
      // background-color: $green;
      margin: auto;
      margin-top: 50px;
      padding: 30px;
      width: 40%;
      border: 5px solid $green;
      font-family: $roboto;
      font-size: 4em;
      text-transform: uppercase;
      color: $green;
      transition: color 0.5s, background-color 0.5s;
    }
    .btn:hover {
      color: black;
      background-color: $green;
    }
  }
}
